@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@model Whiteboard.Web.Models.CourseViewModel
@section SideBar {
    @if (User.IsInRole(Whiteboard.DataAccess.Models.Role.ROLE_SCHOOL)) {
        @Html.Partial("../Dashboard/SideBars/School", new Whiteboard.Web.Models.RedirectViewModel { Redirect = true,  RedirectTo = "/Dashboard" })
    } else if (User.IsInRole(Whiteboard.DataAccess.Models.Role.ROLE_TEACHER)) {
        @Html.Partial("../Dashboard/SideBars/Teacher", new Whiteboard.Web.Models.RedirectViewModel { Redirect = true,  RedirectTo = "/Dashboard" })
    } else if (User.IsInRole(Whiteboard.DataAccess.Models.Role.ROLE_STUDENT)) {
        @Html.Partial("../Dashboard/SideBars/Student", new Whiteboard.Web.Models.RedirectViewModel { Redirect = true,  RedirectTo = "/Dashboard" })
    }
}

<div class="row">
<div class="col-lg-8 col-md-offset-2">
    <div class="course-detail">
        <div class="row">
            <div class="col-md-6">
                <h1>@Model.Title</h1>
                @if (Model.IsPublic) {
                    <span class="label label-success">Public Course</span>
                }
                <br>
                @Html.Raw(Model.Description)
            </div>
            <div class="col-md-6">
                <img src="@Url.Content(Model.PictureUrl)" style="width: 100%; height: 200px" />
            </div>
        </div>
        <hr>
        <div class="row">
            <input type="hidden" id="hiddenCourseId" value="@Model.Id" />
            <div class="col-md-6">
                <h3>About this course</h3>
                <div>
                    @Html.Raw(Model.AboutCourse)
                </div>
                <h3>Course Syllabus</h3>
                <div>
                    @Html.Raw(Model.Syllabus)
                </div>
                <h3>Lectures</h3>
                <div>
                    @Html.Raw(Model.Lectures)
                </div>
            </div>
            <div class="col-md-6">
                @if (Model.IsPublic) {
                    <a class="btn btn-green" id="join-course" href="invoice.html#">Join Course</a>
                }
                @if (ViewBag.IsTeacherOfClass) {
                    <button class="btn btn-green" style="width: 100%" id="manage-students"
                        data-toggle="modal" data-target="#standardModal">Manage Students</button>
                    <br /><br />
                   
                        bool isSomeClassBroadcasting = false;
                        foreach (var cc in ViewBag.Classes) {
                            if (cc.Broadcasting) {
                                isSomeClassBroadcasting = true;
                                break;
                            }
                        }
                   
                    
                    if (!isSomeClassBroadcasting ) {
                        <button class="btn btn-green" style="width: 100%" id="start-class">Start Class</button>
                    }
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3>Comming Classes</h3>
                <ul class="fa-ul">
                    @foreach (var cc in ViewBag.Classes) {
                        if (!cc.Finished) {
                            <li>
                                @if (@cc.Broadcasting) {
                                    <a href="/course/courseclass/@cc.Id">
                                        <i style="color: #ff6a00;" 
                                            class="fa fa-adjust fa-spin"></i> @cc.Description
                                         (Broadcasting)
                                    </a>
                                } else {
                                    <i class="fa fa-video-camera"></i> @cc.Description
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3>Previous Classes</h3>
                <ul class="fa-ul">
                    @foreach (var cc in ViewBag.Classes) {
                        if (cc.Finished) {
                            <li><i class="fa fa-video-camera">
                                </i> <a href="/course/courseclass/@cc.Id">@cc.Description</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
@if (ViewBag.IsTeacherOfClass) {
<!-- Standard Modal -->
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="standardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="standardModalLabel">Manage Students</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        Add Students:
                        <input class="form-control" type="text" 
                            id="student-name" placeholder="Type student name or email" />
                        <input type="hidden" id="studentId" name="studentId" value="" />
                    </div>
                    <div class="col-md-2">
                        <br />
                        <a href="." id="add-student"><i class="fa fa-plus fa-2x" style="margin-top: 6px"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                    <table class="table table-hover" id="classes">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="students-tbody">
                            @foreach (var s in ViewBag.CourseStudents) {
                                <tr>
                                    <td>@s.StudentName</td>
                                    <td><a href="#" data-student-id="@s.Id"><i class="fa fa-trash-o fa-lg"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
     @if (ViewBag.IsTeacherOfClass) {
         <script src="@Url.Content("~/Content/vendor/jquery.autocomplete.js")"></script>
         <script src="/Content/js/course-detail.js"></script>
     }
}