@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- General Report of an account -->
 <div class="row">
    <div class="col-lg-10 col-md-offset-2">
    <div style="margin-top: 10px;margin-left: auto; margin-right: auto">
    <div class="col-md-3">
        <div class="circle-tile">
            <div class="circle-tile-heading red">
                <i class="fa fa-comments fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                </div>
                <div class="circle-tile-number text-faded">
                    <span style="font-size: 14px">I'm attending to</span> <br />
                    @ViewBag.Attending.Count  <br />
                    Courses
                </div>
                <a href="#attending" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="circle-tile">
            <div class="circle-tile-heading orange">
                <i class="fa fa-pencil fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                </div>
                <div class="circle-tile-number text-faded">
                    <span style="font-size: 14px">I'm teaching</span> <br />
                    @ViewBag.Teaching.Count  <br />
                    Courses
                </div>
                <a href="#teaching" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="circle-tile">
            <div class="circle-tile-heading blue">
                <i class="fa fa-users fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                </div>
                <div class="circle-tile-number text-faded">
                    <span style="font-size: 14px">I'm managing</span> <br />
                    @ViewBag.Organizations.Count  <br />
                    Organizations
                </div>
                <a href="#managing" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<!-- Specific information of an account -->
<!-- #teaching -->
<div class="row">
<div class="col-lg-8 col-md-offset-2">
    <div class="dashboard">
        <div class="portlet portlet-red">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4><i class="fa fa-comments fa-fw"></i> You are learning :</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="#attending"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="attending" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="row">
                @if (ViewBag.Attending.Count > 0) {
                    foreach (var x in ViewBag.Attending) {
                        <a href="/course/@x.Id">
                        <div class="col-md-5 course-item">
                            <img src="@Url.Content(x.PictureUrl)" />
                            <div class="course-body">
                                <h4>@x.Title</h4>
                                <span>@x.TeacherName</span>
                            </div>
                        </div>
                        </a>
                    }
                } else {
                    <h3>&nbsp;&nbsp;No Items</h3>
                }
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- #teaching -->
<div class="row">
<div class="col-lg-8 col-md-offset-2">
    <div class="dashboard">
        <div class="portlet portlet-orange">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4><i class="fa fa-pencil fa-fw"></i> You are teaching :</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="#teaching"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="teaching" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="row">
                    @if (ViewBag.Teaching.Count > 0) {
                        foreach (var x in ViewBag.Teaching) {
                            <a href="/course/@x.Id">
                            <div class="col-md-5 teacher-item">
                                <img src="@Url.Content(x.PictureUrl)" />
                                <div class="course-body">
                                    <h4>@x.Title</h4>
                                    <span>@x.TeacherName</span>
                                </div>
                            </div>
                            </a>
                        }
                    } else {
                        <h3>&nbsp;&nbsp;No Items</h3>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Managing -->
<div class="row">
<div class="col-lg-8 col-md-offset-2">
    <div class="dashboard">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4><i class="fa fa-users fa-fw"></i> You are managing :</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="#managing"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="managing" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="row">
                @if (ViewBag.Organizations.Count > 0) {
                    foreach (var x in ViewBag.Organizations) {
                        <a href="/organizationx/@x.Id">
                        <div class="col-md-5 teacher-item">
                            <img src="@Url.Content(x.PictureUrl)" />
                            <div class="course-body">
                                <h4>@x.Name</h4>
                                <span>@x.Email</span>
                            </div>
                        </div>
                        </a>
                    }
                } else {
                    <h3>&nbsp;&nbsp;No Items</h3>
                }
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
