@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Whiteboard.Common
@using Whiteboard.DataAccess.Models
@model Whiteboard.Web.Models.ProfileViewModel
<div class="container profile-container">
    <div class="title"><h3>Update your Profile</h3></div>

    <div class="row">
        <div class="col-md-4">
            <center><b>Profile Picture</b></center>
            <div class="profile-picture">
                <img src="@Url.Content(Path.Combine(Constants.UPLOADS_PATH, Model.PictureUrl))" />
            </div>
            @using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                <input type="file" name="file" id="file" />
                <input type="submit" class="btn btn-primary" value="Upload" />
            }
        </div>

        <div class="col-md-8">
            @if (ViewBag.Errors.Count > 0) {
                <div class="alert alert-danger alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                    @foreach(var error in ViewBag.Errors) {
                        <p>@error.ErrorMessage</p>   
                    } 
                </div>
            }
            @using (Html.BeginForm("Save", "Profile", FormMethod.Post)) {
            <table class="info">
                <tr>
                    <td>Email:</td>
                    <td><span>@Model.Email</span></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" class="form-control" name="name" value="@Model.Name" />
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        @Html.DropDownList("country", (IEnumerable<SelectListItem>)ViewData["country"], 
                        new {
                            @class="form-control"
                        })
                    </td>
                </tr>
                
                <tr>
                    <td>Current Password:</td>
                    <td>
                        <input type="password" name="currentPassword" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>New Password:</td>
                    <td>
                        <input type="password" name="newPassword" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td>
                        <input type="password" name="confirmPassword" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" class="btn btn-success" value="Save Changes" />
                    </td>
                </tr>
            </table>
            }
        </div>
    </div>
</div>
@section scripts {
    <script>
        // HACK: to make dropdown to choose profile's country
        var country = "@Model.Country";
        var countryList = document.getElementById("country");
        for (var i = 0; i < countryList.options.length; ++i) {
            if (countryList.options[i].value === country) {
                countryList.options[i].selected = true;
                break;
            }
        }
    </script>
}