@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@using Whiteboard.Common
@using Whiteboard.DataAccess.Models
@model Whiteboard.Web.Models.ProfileViewModel
<div class="col-lg-12">
    <div class="portlet portlet-default">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h3>Update your Profile</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ul id="userSettings" class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#basicInformation" data-toggle="tab">
                                <i class="fa fa-user fa-fw"></i>
                                Basic Information
                            </a>
                        </li>
                        <li>
                            <a href="#profilePicture" data-toggle="tab">
                                <i class="fa fa-picture-o fa-fw"></i>
                                Profile Picture
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 tab-content">
                    <div class="tab-pane fade active in" id="basicInformation">
                        <div>
                            <h4 class="page-header">Basic Information: </h4>
                            @if (ViewBag.Errors.Count > 0)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                                    @foreach (var error in ViewBag.Errors)
                                    {
                                        <p>@error.ErrorMessage</p>
                                    }
                                </div>
                            }
                            @using (Html.BeginForm("Save", "Profile", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label>
                                        <i class="fa fa-envelope-o fa-fw"></i>
                                        Email:
                                    </label>
                                    <span>@Model.Email</span>
                                </div>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" value="@Model.Name" />
                                </div>
                                <div class="form-group">
                                    <label>Country:</label>
                                    @Html.DropDownList("country", (IEnumerable<SelectListItem>)ViewData["country"],
                                        new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                                <div class="form-group">
                                    <label>Current Password:</label>
                                    <input type="password" name="currentPassword" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>New Password:</label>
                                    <input type="password" name="newPassword" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Re-Type New Password:</label>
                                    <input type="password" name="confirmPassword" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" value="Save Changes" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profilePicture">
                        <div>
                            <h4 class="page-header">Current Picture</h4>
                            <div class="profile-picture">
                                <img class="img-responsive" src="@Url.Content(Path.Combine(Constants.UPLOADS_PATH, Model.PictureUrl))" />
                            </div>
                            @using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label>Choose a New Image</label>
                                    <input type="file" name="file" id="file" />
                                    <p class="help-block">
                                        <i class="fa fa-warning"></i>
                                        Image must be no larger than 500x500 pixels. Supported formats: JPG, GIF, PNG
                                    </p>
                                    <input type="submit" class="btn btn-primary" value="Upload" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container profile-container">

</div>
@section scripts {
    <script>
        noSideBar();
        // HACK: to make dropdown to choose profile's country
        var country = "@Model.Country";
        var countryList = document.getElementById("country");
        for (var i = 0; i < countryList.options.length; ++i) {
            if (countryList.options[i].value === country) {
                countryList.options[i].selected = true;
                break;
            }
        }
    </script>
}