<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title - Whiteboard</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" />
        @*<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>*@
        <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")"/>
        @RenderSection("stylesheets", required: false)
    </head>
    <body>
        @Html.Partial("_Header")
        <div class="main-container">
            @RenderBody()
        </div>
    </body>

    <script src="@Url.Content("~/Content/vendor/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
    @RenderSection("scripts", required: false)
</html>
