@using (Html.BeginForm("Register", "Auth", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div>
    <span class="title title-big">Sign Up to Pizarrón</span>
    <span class="title title-small">It's free!</span>
        </div>
    if (ViewBag.Errors.Count > 0) {
        <div class="alert alert-danger alert-dismissable">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
            @foreach(var error in ViewBag.Errors) {
                <p>@error.ErrorMessage</p>   
            } 
        </div>
    }
    
    <table class="info">
        <tr>
            <td>
                <input type="text" name="name" autocomplete="off" 
                    class="form-control" placeholder="Your Name"
                    value="@ViewBag.RegisterModel.Name"
                     />
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" name="email" autocomplete="off" 
                    class="form-control" placeholder="Your Email" 
                    value="@ViewBag.RegisterModel.Email"
                    />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("country", (IEnumerable<SelectListItem>)ViewData["country"], new {
                    @class="form-control"
                })
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" autocomplete="off" 
                    class="form-control" placeholder="Type your password ..." />
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="confirmPassword" autocomplete="off" 
                    class="form-control" placeholder="Confirm your password ..." />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-success" value="Register" />
            </td>
        </tr>
    </table>
}