@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Whiteboard.Web.Models.OrganizationModels
@model OrganizationViewModel
<div class="row">
<div class="col-lg-8 col-md-offset-2">
<div class="course-manager">
    <div class="portlet portlet-red">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3>Organization Information</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="formControls" >
            <div class="portlet-body">
                <form id="organization-form" class="form-horizontal" method="post"
                     enctype = "multipart/form-data"
                    >
                    @if (ViewBag.Errors.Count > 0) {
                        <div class="alert alert-danger alert-dismissable">
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                            @foreach(var error in ViewBag.Errors) {
                                <p>@error.ErrorMessage</p>   
                            } 
                        </div>
                    }
                    <input type="hidden" id="courseId" name="id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="textInput" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" autocomplete="off"
                                name="name" placeholder="Name" value="@Model.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textInput" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" autocomplete="off"
                                name="email" placeholder="Email" value="@Model.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textInput" class="col-sm-2 control-label">Web Site</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="website" autocomplete="off"
                                name="website" placeholder="Web Site" value="@Model.WebSite">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textInput" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="input-block-level" 
                                id="description" name="description" rows="18">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
@section StyleSheets {
    <link href="/Content/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/Content/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
}
@section Scripts {
    <script src="@Url.Content("~/Content/js/plugins/summernote/summernote.min.js")"></script>
    <script src="@Url.Content("~/Content/js/organization-edit.js")"></script>
}
